/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  text-align: center;
}

.portfolio {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  background-color: #ff002f;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.header h1 {
  margin: 0;
}

.content {
  padding: 20px;
}

.section {
  margin-bottom: 20px;
}

h2 {
  color: #ff002f;
  font-size: 24px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: #ff002f;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #ff002f;
  color: #fff;
}

